@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Store Accounts</h1>

    Store Web Accounts Using Password Generator

    An app to store your passwords in one place. Use for Memberships.
    <!--TODO put button bear password field - onclick it copies the next strong password (set by default)-->
    <br />
    <br />

    <img src="~/img/portfolio-5.jpg" />
</div>
