@page
@model razortests.Pages.Accounts.EditModel
@{
}

<div class="row my-2">
    <div class="col-6">
        <form class="row gy-2 gx-3" method="post">
            <input hidden asp-for="Account.Id " />
            <div class="form-row p-3 mt-4">
                <div class="row pb-2">
                    <h2 class="mainhead pl-3">Edit Account</h2>
                    <hr />
                    <div asp-validation-summary="All"></div>



                    <div class="col-12 form-group">
                        <label asp-for="Account.AccountName"></label>
                        <input asp-for="Account.AccountName" class="form-control" />
                        <span asp-validation-for="Account.AccountName" class="text-danger"></span>
                    </div>

                    <div class="col-12 form-group">
                        <label asp-for="Account.Description"></label>
                        <input asp-for="Account.Description" class="form-control" />
                        <span asp-validation-for="Account.Description" class="text-danger"></span>
                    </div>

                    <div class="col-12 form-group">
                        <label asp-for="Account.Password"></label>
                        <input asp-for="Account.Password" class="form-control" />
                        <span asp-validation-for="Account.Password" class="text-danger"></span>
                    </div>
                    <button type="submit" class="mybtn primary-mybtn" style="width:150px">Update</button>
                    <a asp-page="Index" class="mybtn second-mybtn" style="width:150px">back</a>

                </div>
            </div>

        </form>

    </div>
    <div class="col-6">

    </div>
    </div>

        @section Scripts{

            @{
                <partial name="_ValidationScriptsPartial" />
            }
        }
